<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>faclogin</servlet-name>
        <servlet-class>faclogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studlogin</servlet-name>
        <servlet-class>studlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form1</servlet-name>
        <servlet-class>form1.form1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form1</servlet-name>
        <servlet-class>Form1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formcontrol1</servlet-name>
        <servlet-class>formcontrol1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studlogin1</servlet-name>
        <servlet-class>studlogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formcontrol2</servlet-name>
        <servlet-class>formcontrol2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formcontrol3</servlet-name>
        <servlet-class>formcontrol3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formcontrol4</servlet-name>
        <servlet-class>formcontrol4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arrearcontrol5</servlet-name>
        <servlet-class>arrearcontrol5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>faclogin</servlet-name>
        <url-pattern>/faclogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studlogin</servlet-name>
        <url-pattern>/studlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formcontrol1</servlet-name>
        <url-pattern>/formcontrol1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studlogin1</servlet-name>
        <url-pattern>/studlogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formcontrol2</servlet-name>
        <url-pattern>/formcontrol2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formcontrol3</servlet-name>
        <url-pattern>/formcontrol3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formcontrol4</servlet-name>
        <url-pattern>/formcontrol4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arrearcontrol5</servlet-name>
        <url-pattern>/arrearcontrol5</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
